.hidden {
    display: none;
}

.ace_editor {
    position: relative;
    min-height: 100px;
}

.sb-setting.sb-type-select-images .chat-background-image, .sb-input-setting.sb-type-select-images .chat-background-image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 27px;
}

.sb-setting.sb-type-select-images .chat-background-image>div:hover, .sb-setting.sb-type-select-images .chat-background-image>div.sb-active:not(.sb-icon-close), .sb-input-setting.sb-type-select-images .chat-background-image>div:hover, .sb-input-setting.sb-type-select-images .chat-background-image>div.sb-active:not(.sb-icon-close) {
    color: #028be5;
    border: 1px solid #028be5;
}

.sb-setting.sb-type-select-images .chat-background-image>div, .sb-input-setting.sb-type-select-images .chat-background-image>div {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    position: relative;
    cursor: pointer;
    opacity: .6;
    transition: all 0.4s;
}

.panel-heading code {
    background-color: #000000e0 !important;
}