.dataTables_wrapper .top {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item {
    margin-left: 6.4px;
    margin-left: 0.4rem;
}

div.dataTables_wrapper div.dataTables_info {
    padding-bottom: 25px;
}

.dataTables_wrapper .pagination .page-item>.page-link {
    color: #d1cfe1;
    border: 0;
    outline: 0 !important;
}

.dataTables_wrapper .dataTable thead {
    vertical-align: middle !important;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item>.page-link {
    border-radius: 3px;
    min-width: 32px;
    padding: 8px;
    padding: 12px 18px;
    text-align: center;
    line-height: 16px;
    font-weight: 600;
}

.dataTables_wrapper .pagination .page-item.active>.page-link {
    background: #00b074;
    color: #fff;
}

.dataTables_wrapper .pagination .page-item.first>.page-link,
.dataTables_wrapper .pagination .page-item.last>.page-link,
.dataTables_wrapper .pagination .page-item.next>.page-link,
.dataTables_wrapper .pagination .page-item.previous>.page-link {
    background: #00b07426;
    color: #424242;
}


.dataTables_wrapper .pagination .page-item.first.disabled>.page-link,
.dataTables_wrapper .pagination .page-item.last.disabled>.page-link,
.dataTables_wrapper .pagination .page-item.next.disabled>.page-link,
.dataTables_wrapper .pagination .page-item.previous.disabled>.page-link {
    background: #f1f1f1;
    color: #d1cfe1;
    cursor: not-allowed;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    border: 0;
    border-radius: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0;
    background: 0 0;
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child,
div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
    padding: 0;
    text-align: left;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

@media screen and (max-width: 767px) {

    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center;
    }
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    margin-right: 0;
}

.dataTables_wrapper tbody tr:last-child td {
    border-bottom-width: 0px;
}