.login-bg {
    background-image: url(../img/login-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.password-toggle-icon {
    position: absolute;
    right: 15px;
    bottom: 10px;
}

/* .login-bg::before {
  content: "";
  filter: blur(12px);
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgb(255 255 255 / 60%);
} */
@media (min-width: 500px) {
    .login-form-w {
        width: 380px;
    }
}

@media (max-width: 499px) {
    .login-form-w {
        width: 325px;
    }
}

.register-form input {
    padding: 12px 20px;
}

.nav-profile {
    background: transparent !important;
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    border-left: 1px solid #d0d6de !important;
    border-radius: 0px !important;
    padding-left: 15px !important;
}

.nav-profile img {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
}

.text-red {
    color: #d80005;
}

.text-red-light {
    color: #ff1010;
}

.text-green {
    color: #00b074;
}

.text-green:hover {
    color: #fff;
}

.date-input {
    background-image: url(../img/arrow.png);
    cursor: pointer;
    background-position: 93% 16px;
    background-repeat: no-repeat;
    border: 1px solid #b9bbbd !important;
    color: #202020;
    font-size: 15px;
    font-weight: 500;
    border-radius: 12px;
    padding: 10px 30px 10px 11px !important;
}

.date-input-one {
    background-image: url(../img/date-icon.png);
    cursor: pointer;
    background-position: 93% 8px;
    background-repeat: no-repeat;
}

.custom-form-select {
    border: 1px solid #b9bbbd !important;
    color: #202020 !;
    font-size: 15px !important;
    font-weight: 500 !important;
    border-radius: 12px !important;
    padding: 10px 30px 10px 11px !important;
}

.custom-form-select-one {
    border: 1px solid #ebebeb !important;
    color: #202020;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    border-radius: 8px !important;
    padding: 10px 30px 10px 11px !important;
}

.slideup {
    animation: 0.5s slideup;
}

@keyframes slideup {
    from {
        transform: translateY(10%);
    }

    to {
        transform: translateY(0);
    }
}

.card-hover {
    transition: 0.3s;
}

.card-hover:hover {
    background-color: #00b074;
    color: #fff;
}

.custom-table-border {
    border: 1px solid #f0f0f0;
}

.form-check-input:checked {
    background-color: #00b074;
    border-color: #00b074;
}

.trade-btn {
    padding: 12px 25px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 4px 4px 14px 0px #0000000f;
}

.trade-btn.active {
    background-color: #00b074;
    color: #fff;
}

@media (min-width: 1200px) {
    .modal-xxl {
        max-width: 1320px;
    }
}